---
 const personalImageAlt = "Nicolás Araya"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Nicolás Araya Urrutia. Descubrí el mundo de la programación con 17 años a través de Python, lo que influenció en gran parte mi decisión por ser profesional en esa área. 
      A principios del año 2024 logré terminar mi carrera de <strong>Ingeniería Civil en Informática</strong> en la Universidad Técnica Federíco Santa María, 
      logrando <strong>calificación máxima</strong>  en mi examen de titulación.
    </p>

    <p>
      En Noviembre del año 2022, junto a un equipo de 5 estudiantes de mi carrera, participamos en la XXX versión de la <strong><a href="https://www.inf.utfsm.cl/estudiantes/pregrado/feria-de-software" target="_blank">
        Feria de Software</a></strong> de la UTFSM, logrando una destacada participación con nuestro proyecto de innovación tecnológica <strong>Desk Habitum</strong>, desempeñando el rol de <strong>Scrum Master</strong>.
    </p>

    <p>
      Aunque tengo experiencia en procesamiento y análisis de datos, mi objetivo profesional es <strong> enfocarme en el desarrollo de proyectos de software cloud</strong> a lo largo de todas las fases del ciclo de vida del 
      desarrollo de software (SDLC), manteniendo siempre una actitud abierta hacia la exploración y el aprendizaje continuo de nuevas áreas de conocimiento y tecnologías.
    </p>
  </div>

  <img width="200" height="200" src="/nicolas.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
