---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "04/2023 - 09/2023",
    title: "Procesador de datos y Automatización",
    company: "Laboratorio Centro de Ecología Aplicada",
    description:
      "Automatización de informes y planillas de datos para el área comercial a través de lenguaje Python. Creación de tableros de control en PowerBI. Levantamiento inicial de proyecto de software para consultora CEA, definiendo requisitos funcionales y no funcionales, modelo de base de datos y realizando pruebas iniciales de infraestructura en la nube.",
    link: "https://www.elab.cl/"
    },
  {
    date: "08/2022 - 12/2022",
    title: "Práctica Profesional Subgerencia de Procesos",
    company: "Microgeo",
    description:
      "Generación de documentación de los procesos de la organización, identificando oportunidades de mejora en cada uno de ellos. Implementación de flujo automatizado en Power Automate para el área de soporte comercial, agilizando la primera toma de contacto con soporte y permitiendo un almacenamiento efectivo de los datos generados.",
    link: "https://microgeo.cl/"
    },
  {
    date: "01/2021 - 03/2021",
    title: "Práctica Industrial Subgerencia de TI",
    company: "CMPC",
    description:
      "Coordinación de pruebas para implementación de módulo SAP-TRM en la organización, registrando éxito y retroalimentación de los usuarios. Generación de informes semanales de avances, permitiendo a Gerencia poder visualizar a través de gráficos y KPIs relevantes el estado de las pruebas.",
    link: "https://www.cmpc.com/"
    },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
